/*
config (simple text file)
parameters and definitions
to be specific on command line during launch
*/


process {
    executor = 'slurm'
    clusterOptions = '-A sensXX'
    container='path_to_container'
}

//singualarity container
process.container ='path_to_container'
singularity.autoMounts = true

params {

    //folder
    folder = "FindTroll_nextflow"

    //config
    config=""

    //bam
    bam=""

    //the output directory
    working_dir="/Users/krsaet/Desktop/git/FindTroll_nextflow"

    //output directory
    outdir = "$working_dir/results"

    //internal
    FindTroll_home="{path}"

    // reference file (fasta)
    ref_fasta= "path_to_file"

    //retroseq
    //tab separated file with ME positions
    ref_ME_tab=path_to_file

    //SVDB
    //database vcf
    //alu_vcf=path
    //l1_vcf=path
    //sva_vcf=path
    //herv_path=path


    //VEP
    // path to VEP
    vep_path=""
    //custom VEP
    vep_args="--custom exon_file,EXONS,bed,overlap,0 --cache --force_overwrite --offline --vcf --assembly GRCh37 --per_gene --format vcf"


}
