/*
config (simple text file)
parameters and definitions
to be specific on command line during launch
*/


process {
    executor = 'slurm'
    clusterOptions = '-A sensXX'
    
}

//singualarity container
singularity {
    enabled = true
    autoMounts = true
}

process {

    withName:bcf_to_vcf {
        beforeScript = 'module load bioinfo-tools bcftools'
        cpus = 2
        time = '4h'
    }
    withName:cramtobam {
        cpus = 8
        time = '20h'
        beforeScript = 'module load bioinfo-tools samtools'
    }
    withName:filter_rank {
        cpus = 1
        time = '1h'
    }

    withName:gene_list_filter {
        cpus = 1
        time = '1h'
    }

    withName:merge_calls {
        cpus = 1
        time = '1h'
    }
    
    withName:MobileAnn {
        container='FindTroll.sif'
        cpus = 2
        time = '1h'
    }
    withName:query {
       container='shub://J35P312/SVDB'
       cpus = 1
       time = '5h'
    }

    withName:run_delly {
        container='path_to_container'
        cpus = 4
        time = '10h'
    }

    withName:run_retro {
        container='path_to_container'
        cpus = 2
        time = '10h'
    }
    withName:run_vep {
        //container:'quay.io/biocontainers/ensembl-vep:107.0--pl5321h4a94de4_0'
        beforeScript ='module load bioinfo-tools vep'
        cpus = 4
        time = '1h'
    }

    withName: svdb_merge {
        container='shub://J35P312/SVDB'
        cpus = 1
        time = '1h'
    }
 
}

params {

    //folder
    folder = "FindTroll_nextflow"

    //config
    config=""

    //bam
    input=""

    //the output directory
    working_dir="/Users/krsaet/Desktop/git/FindTroll_nextflow"

    //final output directory
    output = ""

    //intermediate files
    tmpfiles = '$working_dir/tmpfiles'

    //internal
    FindTroll_home="path"

    // reference file (fasta)
    ref_fasta= "path_to_file"

    //retroseq
    //tab separated file with ME positions
    ref_ME_tab='path_to_file'

    //MobileAnn
    re_ME_bed=''
    
    //SVDB
    //database vcf
    ALU='path'
    L1='path'
    SVA='path'
    HERV='path'


    //VEP
    //custom VEP
    vep_args='--custom exon_file,EXONS,bed,overlap,0 --cache --dir $VEP_CACHE --force_overwrite --offline --vcf --assembly GRCh37 --per_gene --format vcf'

    gene_list=""
}
