/*
config (simple text file)
parameters and definitions
to be specific on command line during launch
*/


process {
    executor = 'slurm'
    clusterOptions = '-A sensXX'
    
}

//singualarity container
singularity {
    enabled = true
    autoMounts = true
}

process {
    withName:run_retro {
        container='path_to_container'
    }
    withName:query {
       container='shub://J35P312/SVDB'

    }

    withName:run_delly {
        container='path_to_container'
    }

    withName: MobileAnn {
        container='path_to_container'
    }

    withName: svdb_merge {
        container='shub://J35P312/SVDB'
    }
    withName:run_vep {
        container:'quay.io/biocontainers/ensembl-vep:107.0--pl5321h4a94de4_0'
    }

}

params {

    //folder
    folder = "FindTroll_nextflow"

    //config
    config=""

    //bam
    bam=""

    //the output directory
    working_dir="/Users/krsaet/Desktop/git/FindTroll_nextflow"

    //final output directory
    output = ""

    //intermediate files
    tmpfiles = '$working_dir/tmpfiles'

    //internal
    FindTroll_home="path"

    // reference file (fasta)
    ref_fasta= "path_to_file"

    //retroseq
    //tab separated file with ME positions
    ref_ME_tab='path_to_file'

    //MobileAnn
    re_ME_bed=''
    
    //SVDB
    //database vcf
    ALU='path'
    L1='path'
    SVA='path'
    HERV='path'


    //VEP
    //custom VEP
    vep_args="--custom exon_file,EXONS,bed,overlap,0 --cache --dir $VEP_CACHE --force_overwrite --offline --vcf --assembly GRCh37 --per_gene --format vcf"

    gene_list=""
}
